.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 12px 0;
}
header a {
  margin-left: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 50px;
}

.toggle {
  cursor: pointer;
  color: #fff;
  display: none;
}

@media screen and (max-width: 768px) {
  header .nav {
    display: none;
  }
  header a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 15px 0;
  }
  .toggle {
    display: block;
    font-size: 25px;
    background: none;
    margin-top: 0;
    padding-right: 0;
  }
  .hideMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #2d2e2e;
    animation: expand 1.1s forwards;
  }
  @keyframes expand {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
