.aboutme_container {
  background-color: #333333;
  width: 100%;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0;
}

.container li {
  list-style: none;
}

.container h1 {
  color: rgb(58, 240, 155);
  font-family: "Titan One", cursive;
  font-size: 4rem;
  padding-top: 50px;
  text-align: center;
}

.aboutme_container ul li:nth-child(4) {
  margin: 0 auto;
}

.aboutme_border {
  border-bottom: 1px solid #fff;
  width: 30%;
  margin: 30px auto;
}

.container p {
  margin: 0 auto;
  text-align: center;
}

.aboutme_btn {
  margin: 30px 0;
  font-size: 1.5rem;
  text-decoration: none;
}

.aboutme_btn {
  position:relative;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-top: 50px;
}

.aboutme_btn:hover {
  background: rgba(116, 226, 12, 0.897);
  color: #000;
  border-color: transparent;
}

.aboutme_btn::before,
.aboutme_btn::after {
  content: "";
  position: absolute;
  border: solid rgb(218, 196, 3);
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}

.aboutme_btn::before {
  top: -6px;
  left: -6px;
  border-width: 1px 0 0 1px;
}

.aboutme_btn::after {
  bottom: -6px;
  right: -6px;
  border-width: 0 1px 1px 0;
}

.aboutme_btn:hover::before,
.aboutme_btn:hover::after {
  width: calc(100% + 11px);
  height: calc(100% + 11px);
  border-color: rgb(214, 211, 15);
}

@media (min-width: 767px) {
  .container p {
    width: 60%;
  }
}
@media (min-width: 1025px) {
  .container p {
    width: 50%;
  }
}

