h1,
p {
  text-align: center;
}

.container {
  color: #fff;
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: #333333;
}

.container h1 {
  color: rgb(58, 240, 155);
  font-family: "Titan One", cursive;
  font-size: 4rem;
  padding-top: 50px;
}
.container p {
 width: 50%;
 margin: 0 auto;
}

.border {
  width: 35%;
  margin: 30px auto;
}

.aboutme_btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-decoration: none;
}

/* animation */
.aboutme_btn {
  font-family:'Courier New', Courier, monospace;
  color: rgb(58, 240, 155);
  border: 1px solid #fff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.aboutme_btn:hover {
  background: rgba(116, 226, 12, 0.897);
  color: #000;
  border-color: transparent;
}

.aboutme_btn::before,
.aboutme_btn::after {
  content: "";
  position: absolute;
  border: solid rgb(218, 196, 3);
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}

.aboutme_btn::before {
  top: -6px;
  left: -6px;
  border-width: 1px 0 0 1px;
}

.aboutme_btn::after {
  bottom: -6px;
  right: -6px;
  border-width: 0 1px 1px 0;
}

.aboutme_btn:hover::before,
.aboutme_btn:hover::after {
  width: calc(100% + 11px);
  height: calc(100% + 11px);
  border-color: rgb(214, 211, 15);
}
