.introduce_container {
  /* display: flex; */
  width: 100%;
  height: 80%;
  margin: 0 auto;
}

.introduce {
  text-align: center;
  margin-top: 50px;
}

.introduce h2 {
  font-size: 2rem;
  font-weight: 300;
}
.introduce h1 {
  font-size: 2.5rem;
  font-family: 'Titan One', cursive;
}
.introduce p {
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
  background-color: rgb(58, 240, 155);
}

.image img{
  display: block;
  margin: 0 auto;
  width: 300px;
  height:300px;
  border-radius: 10%;
}

@media (min-width: 767px) {
  .introduce_container {
    margin-top: 100px;
    position: relative;
  }
  .introduce_container .introduce {
    position: absolute;
    left: 15%;
  }
  .introduce_container .introduce h2{
   font-size: 3rem;
  }
  .introduce_container .introduce h1{
   font-size: 2.6rem;
  }
  .introduce_container .introduce p {
    width: 250%;
    text-align:start;
    font-size: 1.2rem;
    margin-top: 40px;
    padding: 0.8rem;
  }
  .introduce_container .image {
    position: absolute;
    left: 55%;
    z-index: 900;
  }
}

@media (min-width: 1025px) {
  .introduce_container .introduce h2{
   font-size: 4rem;
  }
  .introduce_container .introduce h1{
   font-size: 3.5rem;
  }
  .introduce_container .introduce p {
    width: 200%;
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 0.8rem;
  }
}