.about {
margin-bottom: 100px;
}

.chiho_pic {
  width: 260px;
  height: 260px;
  margin-bottom: 10px;
}

.about .primaryBtn {
  margin-left: 20px;
  width: 220px;
}
.about .heading {
  text-align: left;
  margin: 0;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.right {
  width: 65%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .about_container,
  .left,
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    padding: 0 20px;
    margin-right: 0;
  }
}
