.portfolio_container {
  width: 98%;
  margin: 0 auto;
}

.heading {
  margin-bottom: 0;
}

.portfolio_box {
  /* border: 1px solid red; */
  max-width: 350px;
}

.catButton {
  width: 100%;
  text-align: center;
  margin: 30px 0;
  margin-bottom: 50px;
}

.catButton button {
  margin: 0 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.skills span {
  margin-top: 5px;
  color: var(--primaryColor);
  border: 1px solid var(--greyDark);
  border-radius: 20px;
  padding: 2px 10px;
  font-size: small;
}

@media screen and (max-width: 768px) {
  .heading {
    margin-top: 150px;
  }
  .catButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .catButton button {
    margin: 10px 0;
  }
}
