.scrolldown {
  display: none;
  position: absolute;
  animation: arrowmove 2s ease-in-out infinite;
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

.scrolldown span {
  position: absolute;
  left: -20px;
  bottom: 85px;
  color: rgb(8, 8, 8);
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrolldown:before {
  content: "";
  position: absolute;
  bottom: 80px;
  right: -10px;
  width: 1px;
  height: 20px;
  background: rgb(7, 7, 7);
  transform: skewX(-31deg);
}

.scrolldown:after {
  content: "";
  position: absolute;
  bottom: 80px;
  right: -4px;
  width: 1px;
  height: 50px;
  background: rgb(7, 7, 7);
}

@media (min-width: 767px) {
  .scrolldown {
    display: block;
  }
  .scrolldown span {
    bottom: 50px;
  }

  .scrolldown:before {
    bottom: 50px;
  }

  .scrolldown:after {
    bottom: 50px;
  }
  @media (min-width: 1025px) {
  }
}
