footer {
  text-align: center;
  background-color: var(--primaryBackground);
  padding: 50px;
  margin-top: 30px;
}
footer i {
  font-size: 1.5rem;
  margin: 8px;
  color: var(--primaryColor);
  cursor: pointer;
}
