.title {
  padding: 30px 0;
}

.title h1 {
  color: rgb(58, 240, 155);
  font-family: "Titan One", cursive;
  font-size: 3rem;
  text-align: center;
}

@media (min-width: 767px) {
  .aboutme_container .container p {
    width: 90%;
  }
  .title h1 {
    font-size: 4rem;
  }

}
@media (min-width: 1025px) {
  .title h1 {
    font-size: 5rem;
  }

}
